
/*body{
	background-color: #e7e7e7;
		
}*/
a {
	color: #22b5e0;
	outline-style: none;
	


}
a:hover {
	color: #b83f37;
	text-decoration: none;
}


h4{
	text-align: center;
	color: #09ad78;
	font-family: 'Comfortaa', cursive;
}
p{
	font-family: 'Helvetica', 'Arial','Nimbus Sans L', sans-serif;	
	font-size: 1.2em;
}
.navbar.navbar-default{
    
    outline:none;
    background-color: transparent;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06);

}

ol.myOl li {
	font-family:Helvetica CY, 'Arial','Nimbus Sans L', sans-serif;	
	font-size: 1.2em;	
}
ul.nav.navbar-nav li a {
	color: #22b5e0;
	font-family: 'Comfortaa', cursive;
	font-size: 1.3em;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
ul.nav.navbar-nav.navbar-right li a:hover{
  color: #b83f37;
  background-color: transparent;
}
ul.nav.navbar-nav.navbar-right li a:focus{
  color: #b83f37;
  background-color: transparent;
}


}

.navbar-nav {
  margin: auto;

}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.mainPageBlock {
   
 border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
border: 2px solid #F0F0F0;
background: #fff;
box-shadow: 0 3px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06);
margin: 1em 1em 1em; 
/*background: #F0F0F0 ;*/


}
mark {
  background: #09ad78;
  color: #000;
}

