
/*body{
	background-color: #e7e7e7;
		
}*/
a {
	color: #22b5e0;
	outline-style: none;
	


}
a:hover {
	color: #b83f37;
	text-decoration: none;
}


h4{
	text-align: center;
	color: #09ad78;
	font-family: 'Comfortaa', cursive;
	text-decoration: none;
}
p{
	font-family: 'Helvetica', 'Arial','Nimbus Sans L', sans-serif;	
	font-size: 1.2em;
}
.navbar.navbar-default{
    
    outline:none;
    background-color: transparent;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06);

}

ol.myOl {
	padding-left: 3em;
	
}
ol.myOl li {
	font-family:Helvetica CY, 'Arial','Nimbus Sans L', sans-serif;	
	font-size: 1.2em;	
}
ul.nav.navbar-nav li a {
	color: #22b5e0;
	font-family: 'Comfortaa', cursive;
	font-size: 1.3em;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
ul.nav.navbar-nav.navbar-right li a:hover{
  color: #b83f37;
  background-color: transparent;
}
ul.nav.navbar-nav.navbar-right li a:focus{
  color: #b83f37;
  background-color: transparent;
}


}

.navbar-nav {
  margin: auto;

}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.mainPageBlock {
   
 border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
border: 2px solid #F0F0F0;
background: #fff;
box-shadow: 0 3px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06);
margin: 1em 1em 1em; 
/*background: #F0F0F0 ;*/


}
mark {
  background: #09ad78;
  color: #000;
}


html, body, img, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
input[type="button"], input[type="submit"], input[type="reset"] {
	margin: 0px;
	padding: 0px;
	border: none;
}

body {
	line-height: 1.5;
	margin: 0;
	padding: 2em;
	height: 100%;
}


sup, sub { font-size: x-small; }
header { 
	background: url(img/icon.png) no-repeat;
	padding-left: 70px;
	margin-bottom: 1em;
	float: left;
	height: 60px;
}
footer {
	/*clear: both;*/
	border-top: 3px #9CF solid;
	overflow: hidden;
}
table { 
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
	padding: 1em;
	}
input[type=text] {
	width: 6em;
	float: right;
}
/*.house {
	float: right;
	width: 50%; 
	height:auto;
}*/
button {
	display: block;
	padding: 0.5em 1em;
	text-align: center;
	font-size: 100%;
	margin: 1em auto 0;
	border: 3px #9CF solid;
	border-radius: 1em;
	background: #9CF;
	outline: none;
	cursor: pointer;
}
button:hover { border: 3px #39F solid; }
button:active { border: 3px #369 solid; }
.data input[type=text] { margin-left: 2em; }
.data {
	border: 3px #9CF solid;
	/*float: left;*/
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 1em;
}
.alert {
	background: #FFFFCC;
	border-radius: 10px;
	text-align: center;
	font-style: italic;
	color:#CC0000;
	display: none;
}
/*.column {
	width: 33%;
	float: left;
	margin-top: 1em;
	margin-bottom: 1em;

}*/
.result {
	text-align: right;
	padding-right: 3em;
}
.video { 
	float:left;
	margin-right: 1em;
}
.subscribe {
	margin-top: 3em;
}


